@charset "ISO-8859-1";

.info {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 15px solid rgb(99, 67, 49);
	border-top: 15px solid rgb(99, 67, 49);
	color: #f8caa0;
	width: 100%;
	background-image: url('../images/banners/imagen-info.jpg');
	background-size: 100% 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Dancing Script', cursive;
}

.info>h1 {
	font-size: 12vw;
	text-shadow: 3px 2px 0px black;
}

.container, .flex-container {
	-webkit-box-shadow: 8px 0px 22px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 0px 22px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 0px 22px -1px rgba(0, 0, 0, 0.75);
	background: #f8f9fa !important;
}

body {
	background-image: url('../images/banners/vector.png');
	background-size: 100% 100%;
	background-attachment: fixed;
}

.infocard {
	height: 150px;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.infocard::-webkit-scrollbar {
	display: none;
}

.titlecard {
	height: 80px;
}

.error>h5, .infoList {
	color: gray;
	padding: 15px;
	text-align: center;
	border-bottom: 2px solid lightgrey;
	border-top: 2px solid lightgrey;
	width: 60%;
	margin: 0px auto;
	margin-bottom: 30px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.error>div>img {
	-webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.62);
	box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.62);
}

.error>div {
	text-align: center;
}

.titleform {
	text-align: center;
	border-bottom: 2px solid lightgrey;
	border-top: 2px solid lightgrey;
	padding: 30px;
	color: gray;
	margin-bottom: 40px;
}

.buttonForm {
	background: white;
	border: 1px solid  #301e14;
	border-radius: 5px;
	padding: 10px;
	color:  #301e14;
	width: 100%;
}

.buttonForm:hover{
    animation-name: buttonAn;
  	animation-duration: 0.5s;
  	color: white;
  	animation-fill-mode: forwards;  
}

@keyframes buttonAn {
  0%   {background-color: white;}
  100% {background-color:  #301e14;}
}


.listItem{
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}


.listItem>div{
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	padding-left: 20px;
	color: #139e33x;
	
}	
.listItem{
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}
.borrarBtn{
	margin-top: 10px;
	width: 100%;	
	background: #d1343f;
	text-align: center;
}
.borrarBtn:hover{
	background: #a30d17;
}


.paso {
	border-top: gray 1px solid;
	padding: 30px;
	text-align: center;
			
}
.paso>h4{
	color: brown;
	font-family: cursive;
}
.paso>div{
	margin-bottom: 40px;
}
.paso:hover{
	background-color: #a2704124;
	color: black;
	color:black;
}
