@charset "ISO-8859-1";

.info {
	margin-top: 30px;
	margin-bottom: 30px;
	border-bottom: 15px solid rgb(99, 67, 49);
	border-top: 15px solid rgb(99, 67, 49);
	color: rgb(99, 67, 49);
	width: 100%;
	height: 600px;
	background-image: url('info-img.jpg');
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Dancing Script', cursive;
}

.info>h1 {
	font-size: 12vw;
	text-shadow: 3px 2px 0px black;
}

.container, .flex-container {
	-webkit-box-shadow: 8px 0px 22px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 8px 0px 22px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 8px 0px 22px -1px rgba(0, 0, 0, 0.75);
	background: #f8f9fa !important;
}

body {
	background-image: url('vector.png');
	background-size: 100% 100%;
	background-attachment: fixed;
}

.infocard {
	height: 150px;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.infocard::-webkit-scrollbar {
	display: none;
}

.titlecard {
	height: 80px;
}

.error>h5, .infoList {
	color: gray;
	padding: 15px;
	text-align: center;
	border-bottom: 2px solid lightgrey;
	border-top: 2px solid lightgrey;
	width: 60%;
	margin: 0px auto;
	margin-bottom: 30px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.error>div>img{
	-webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.62);
	-moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.62);
	box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.62);
}
.error>div{
	text-align: center;
}