<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!--Bootstrapt-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
	crossorigin="anonymous"></script>


<!-- CSS Proyect Visual -->
<link href="#" th:href="@{/css/visual-info.css}" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
	rel="stylesheet">

<!-- EdGrid -->
<link href="https://unpkg.com/ed-grid@3.0.0/src/css/ed-grid.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#" th:href="@{/}"> <img
				src="https://image.flaticon.com/icons/png/512/1021/1021460.png"
				width="30" height="30" class="d-inline-block align-top" alt="">
				Inicio
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/formularioReceta}">Nuevo <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item disabled"><a class="nav-link" href="#"> ... </a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> ... </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div></li>
					<li class="nav-item"><a class="nav-link " href="#"> ... </a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/nombre}" th:object="${busqueda}">
					<input class="form-control mr-sm-2" type="search" th:field="*{recetaName}" th:value="${recetaName}"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div class="info">
			<h1>Formulario</h1>
		</div>
		<div>
			<form th:object="${receta}" action="#" th:action="@{/guardarReceta}"
				method="post">

				<h2>Receta</h2>
				<!-- Input id hidden -->
				<input th:field="*{id}" th:value="${id}" hidden>

				<div class="form-group">
					<label>Nombre</label> <input th:field="*{nombre}"
						th:value="${nombre}" type="text" class="form-control"> <small
						class="form-text text-muted">Nombre de la receta</small>
				</div>
				<div class="form-group">
					<label>Descripcion</label>
					<textarea th:field="*{descripcion}" th:value="${descripcion}"
						class="form-control"> </textarea>
					<small class="form-text text-muted">Nombre de la receta</small>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Raciones</label> <input th:field="*{raciones}"
							th:value="${raciones}" type="number" class="form-control">
						<small class="form-text text-muted">Número de personas
							recomendado para esta receta</small>
					</div>
					<div class="form-group col-md-6">
						<label>Duracion</label> <input th:field="*{tiempoPreparacion}"
							th:value="${tiempoPreparacion}" type="number"
							class="form-control"> <small class="form-text text-muted">Tiempo
							en minutos</small>
					</div>
				</div>
				<div class="form-group">
					<label>Imagen</label> <input th:field="*{urlImg}"
						th:value="${urlImg}" type="text" class="form-control"> <small
						class="form-text text-muted">Url de la imagen</small>
				</div>

				<div th:each="ingre, i : ${receta.listaIngredientes}" hidden>
					<input type="text"
						th:field="*{listaIngredientes[__${i.index}__].id}"
						th:value="${ingre.id}"> <input type="text"
						th:field="*{listaIngredientes[__${i.index}__].cantidad}"
						th:value="${ingre.cantidad}"> <input type="text"
						th:field="*{listaIngredientes[__${i.index}__].nombre}"
						th:value="${ingre.nombre}"> <input type="text"
						th:field="*{listaIngredientes[__${i.index}__].medida}"
						th:value="${ingre.medida}"> <input type="text"
						th:field="*{listaIngredientes[__${i.index}__].receta.id}"
						th:value="${ingre.receta.id}">
				</div>


				<button type="submit" class="btn btn-primary">Ingredientes</button>
			</form>
		</div>
	</div>

</body>
</html>